<!-- Page title -->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center indigo-text">Movies</h1>
    <div class="row center">
      <h5 class="header col s12 light">The latest and greatest</h5>
    </div>
  </div>
</div>

<div class="container">

<!-- Movie card -->
  <div class="card medium sticky-action" ng-repeat="movie in movies">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" ng-src="{{ movie.image }}">
    </div>

    <!-- Movie title -->
    <div class="card-content"> <!-- Movie title -->
      <span class="card-title activator grey-text text-darken-4">
        {{ movie.title }}
        <i class="material-icons right">more_vert</i>
      </span>
    </div>

    <!-- Movie synopsis -->
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        {{ movie.title }}
        <i class="material-icons right">close</i>
      </span>
      <p>{{ movie.synopsis }}</p>
    </div>

    <!-- Price & add to basket -->
    <div class="card-action">
      <a class="waves-effect waves-light btn light-blue">
        <i class="material-icons left">shopping_basket</i>
        <span>{{ movie.price | currency : "£" }}</span>
      </a>
    </div>
  </div>
</div>
